ul a {
  color: orange !important;
  background-color: black;
}
ul a:hover {
  background-color: grey;
  color: white !important;
}

tr:hover {
  background-color: rgba(255, 166, 0, 0.315);
}

thead {
  color: orange;
}
