<div class="container mt-5 pt-5">
  <h1 class="text-center my-5 justify-content-center">Modifica cliente</h1>
  <div  class="p-2 row row-cols-1 row-cols-lg-1 mx-5 justify-content-center">
    <div class="container p-5">
      <div class="row justify-content-center">
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
        <form class="mb-5"
          #form="ngForm"
          *ngIf="cliente"
          (ngSubmit)="onsubmit(form, cliente.id)"
        >
        <h3 class="text-center mb-5">Stai modificando il cliente con P.IVA: {{cliente.partitaIva}}</h3>
          <div class="form-group mb-2">
            <label for="ragioneSociale">Ragione Sociale</label>
            <input
              ngModel
              name="ragioneSociale"
              class="form-control"
              type="text"
              id="ragioneSociale"
              [(ngModel)]="cliente.ragioneSociale"
              required
            />
          </div>
          <div class="form-group mb-2">
            <label for="partitaIva">Partita Iva</label>
            <input
              ngModel
              name="partitaIva"
              class="form-control"
              type="text"
              id="partitaIva"
              [(ngModel)]="cliente.partitaIva"
              required
            />
          </div>
          <div class="form-group mb-2">
            <label for="tipoCliente">Tipo Cliente</label>
            <select
              ngModel
              [(ngModel)]="cliente.tipoCliente"
              class="form-select"
              id="tipoCliente"
              name="tipoCliente"
              required
            >
              <option selected value="SRL">SRL</option>
              <option selected value="SPA">SPA</option>
              <option selected value="SAS">SAS</option>
              <option selected value="PA">PA</option>
            </select>
          </div>
          <div class="form-group mb-2">
            <label for="nomeContatto">Nome</label>
            <input
              ngModel
              name="nomeContatto"
              class="form-control"
              type="text"
              id="nomeContatto"
              [(ngModel)]="cliente.nomeContatto"
              required
            />
          </div>
          <div class="form-group mb-2">
            <label for="cognomeContatto">Cognome</label>
            <input
              ngModel
              name="cognomeContatto"
              class="form-control"
              type="text"
              id="cognomeContatto"
              [(ngModel)]="cliente.cognomeContatto"
              required
            />
          </div>
          <div class="form-group mb-2">
            <label for="emailContatto">Email Contatto</label>
            <input
              ngModel
              name="emailContatto"
              class="form-control"
              type="email"
              id="emailContatto"
              [(ngModel)]="cliente.emailContatto"
              required
            />
          </div>
          <div class="form-group mb-2">
            <label for="email">Email</label>
            <input
              ngModel
              name="email"
              class="form-control"
              type="email"
              id="email"
              [(ngModel)]="cliente.email"
              required
            />
          </div>
          <div class="form-group mb-2">
            <label for="pec">Pec</label>
            <input
              ngModel
              [(ngModel)]="cliente.pec"
              name="pec"
              class="form-control"
              type="text"
              id="pec"
              required
            />
          </div>
          <div class="form-group mb-2">
            <label for="telefonoContatto">Telefono Contatto</label>
            <input
              ngModel
              name="telefonoContatto"
              class="form-control"
              type="tel"
              id="telefonoContatto"
              [(ngModel)]="cliente.telefonoContatto"
              required
            />
          </div>
          <div class="form-group mb-2">
            <label for="telefono">Telefono</label>
            <input
              ngModel
              name="telefono"
              class="form-control"
              type="tel"
              id="telefono"
              [(ngModel)]="cliente.telefono"
              required
            />
          </div>
          <div class="form-group mb-2">
            <label for="viaSedeOperativa">Indirizzo Sede Operativa</label>
            <input
              ngModel
              name="viaSedeOperativa"
              class="form-control"
              type="text"
              id="viaSedeOperativa"
              [(ngModel)]="cliente.indirizzoSedeOperativa.via"
              required
            />
           <label for="Civico"> Civico:</label><input
              ngModel
              name="civicoSedeOperativa"
              class="form-control"
              placeholder="Civico"
              type="text"
              id="civicoSedeOperativa"
              [(ngModel)]="cliente.indirizzoSedeOperativa.civico"
              required
            />
            <label for="CAP">CAP:</label><input
              ngModel
              name="capSedeOperativa"
              class="form-control"
              type="text"
              id="capSedeOperativa"
              [(ngModel)]="cliente.indirizzoSedeOperativa.cap"
              required
            />
            <label for="Località">Località:</label><input
              ngModel
              name="localitaSedeOperativa"
              class="form-control"
              type="text"
              id="localitaSedeOperativa"
              [(ngModel)]="cliente.indirizzoSedeOperativa.localita"
              required
            />
          </div>
          <div class="form-group mb-2">
            <label for="ComuneSedeOperativa">Comune</label>
            <select
              ngModel
              [(ngModel)]="cliente.indirizzoSedeOperativa.comune.nome"
              class="form-select"
              id="ComuneSedeOperativa"
              name="ComuneSedeOperativa"
              required
            >
              <option *ngFor="let comune of comuni" value="{{comune.nome}}">
                {{comune.nome}}
              </option>
            </select>
          </div>
          <div class="form-group mb-2">
            <label for="provinciaSedeOperativa">Provincia</label>
            <select
              ngModel
              [(ngModel)]="cliente.indirizzoSedeOperativa.comune.provincia.nome"
              class="form-select"
              id="provinciaSedeOperativa"
              name="provinciaSedeOperativa"
              required
            >
              <option
                *ngFor="let provincia of province"
                value="{{provincia.nome}}"
              >
                {{provincia.nome}}
              </option>
            </select>
          </div>
          <div class="text-center">
            <button
              class="btn btn-secondary m-5"
              [disabled]="form.invalid"
              [disabled]="isLoading"
              type="submit"
            >
              Modifica Cliente
              <span
                *ngIf="isLoading"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
            </button> <button class="btn btn-secondary m-5" type="button" [routerLink]="['/clienti']">Torna indietro</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
