a {
  color: orange;
}

a:hover {
  color: black;
}

label {
  font-weight: 600;
  margin-top: 1.7em;
  margin-bottom: 1em;
}

form {
  margin-bottom: 5em;
}
.card {
  border-radius: 2em;
  box-shadow: 2px 2px 1px 3px grey;
  background: rgb(255,255,254);
background: linear-gradient(0deg, rgba(255,255,254,1) 5%, rgba(255,206,143,1) 48%, rgba(255,167,53,1) 100%);
}

#cardBody {
  background: rgb(255,255,254);
  padding-bottom: 5em;
  border-radius: 2em;
  box-shadow: 2px 2px 1px 3px grey;
}

select {
  width: 50%;
}
