/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

body {
  background: url('./assets/dust_scratches.webp');
}

button.btn-warning {
  background-color: orange !important;
}

button {
  box-shadow: 2px 2px 2px 3px grey;
}

button:hover {
  box-shadow: 2px 2px 2px 3px white;
}
